.pl-10 {
 padding-left: 10px;
}

.grade-2 {
 color: #52b35c;
}

.grade-3 {
 color: #3d94d8;
}

.grade-4 {
 color: #d33939;
}

.grade-5 {
 color: #a36ce6;
}

.grade-6 {
 color: #e9a43a;
}

.ico-price {
 display: inline-block;
 content: "";
 vertical-align: middle;
 width: 16px;
 min-width: 16px;
 height: 15px;
 font-weight: 400;
 margin: -1px 4px 0 0;
 background-image: url("../assets/itemUnit.svg");
 background-size: 16px 15px;
}

.ico-world {
 display: inline-block;
 content: "";
 vertical-align: middle;
 width: 16px;
 min-width: 16px;
 height: 16px;
 margin: -1px 4px 0 0;
 background-size: 16px 16px;
 background-image: url("../assets//itemWon.svg");
}
